.tagline text {
  font-family: "Lora", serif;
  font-size: clamp(2rem, -0.875rem + 8.333vw, 4rem);
  font-weight: 700;
  @apply stroke-primary stroke-1 sm:stroke-2 tracking-widest;
  animation: textAnimate 10s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    @apply fill-primary;
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%, 0%);
  }
}
